
*{
    margin: 0;
}
body {
  margin: 30px;
  background-image: url("/public/image27.jpeg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
a{
  color: yellow;
  font-weight: 1000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  text-decoration: none;
}

.nav1{
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    
}
.navbar-text{
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    padding-right: 70px;
    gap: 30px;
    
}
.icon{
  font-size: 30px;
  color: #ca9b03;
}
.navbar-text p {
    padding-bottom:10px;
    margin-right: 20px;
}
button {
    --primary-color: #645bff;
    --secondary-color: yellow;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
  }
  
  button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  button:hover {
    background-color: var(--hover-color);
  }
  
  button:hover .arrow {
    background: var(--secondary-color);
  }
  
  button:hover .arrow:before {
    right: 0;
  }


.icon{
  padding-left: 40px;
}
.content1{
  color: #fff;
  align-items: center;
  margin-top: 60px;
  margin-left: 360px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 100px;
}
.content2{
  font-size: larger;
  display: block;
  padding-left: 100px;
}
.content3{
  padding-top: 20px;
  padding-right: 100px;
}
.content4{
  padding-top: 20px;
  padding-left: 140px;
  display: flex;
  gap: 20px;
}
span{
  padding-left: 7px;
  font-size: larger;
  color: #ca9b03;
}

.hero-cards{
  color: #fff;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  -ms-overflow-style: none;
}
.hero-cards::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
}

.hero-cards::-webkit-scrollbar-thumb {
  background-color: transparent; /* Make scrollbar thumb transparent */
}
.hero-container{
  color: rgb(243, 244, 246);
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;         
  display: flex;          
  flex-direction: column;
  position: relative;
  padding-bottom: 20px;
}
.hero-img{
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
}
.hero-title{
  overflow: hidden;
  color: #ca9b03;
  text-overflow: ellipsis;
}
.hero-about{
  overflow: hidden;
  text-overflow: ellipsis;
}
.video{
  padding-left: 380px;
  
}